@model IEnumerable<Genre>

@{
    ViewData["Title"] = ViewBag.Genre;
}

<h1>@ViewBag.Genre</h1>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <p><b>Назва:</b> @item.Name</p>-
        </div>
    </div>
}
<form method="get" asp-action="Index">
    <input type="submit" class="btn btn-primary" value="Назад" />
</form>
