@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">TheGStore</h1>
    <hr />
    <br>
    <br>
    <p class="h3">
        Переваги роботи з нами
        НАДІЙНІСТЬ
        Ми знаходимося на ринку близько 7 років і маємо бездоганну репутацію. Кількість унікальних товарів в каталозі вже перевищує 3000!
        <br>
        <br>
        АБСОЛЮТНО ПРОЗОРА СИСТЕМА
        <br>
        Ви керуєте своїм партнерським рахунком прямо з розділу Мої покупки на сайті нашого магазину.
        Гроші на ваш рахунок нараховуються відразу ж при здійсненні користувачем покупки через партнерську посилання.
        Також, доступна статистика продажів за будь-який період часу.
        <br>
        <br>
        ВЕСЬ НЕОБХІДНИЙ ІНСТРУМЕНТАРІЙ
        <br>
        Наш API допоможе вам при роботі з партнерською програмою. Якщо ви хочете рекламувати конкретний товар або навіть всі разом, вам буде виданий XML-файл.
        При переході користувача по агентської посиланням, ваш ідентифікатор буде записаний в куки його браузера навіть при відсутності покупки прямо зараз!
        Потім, якщо користувач все ж зробить покупку в нашому магазині протягом 30 днів, то відсоток від цієї покупки надійде на рахунок того партнера, чий ідентифікатор збережений в браузері.
    </p>
</div>

